html {
  overflow-x: hidden;
    width: 100%;
  scroll-behavior: smooth;
}

body {
  background: #ffff;
  margin: 0;
  overflow-x: hidden;
  padding: 0;
}

* {
  font-family: 'NM-M', sans-serif;
  box-sizing: border-box;
}

:root {
  --prime: #0B0B0E;
  --accent: #DC794D;
  --base: #f3f2f1;
  --radi: 14px;
  --text-secondary: #3a3a3c;
}

@font-face {
  font-family: 'NM-B';
  src: url(../assets/NeueMontreal-Bold.otf);
}
@font-face {
  font-family: 'NM-I';
  src: url(../assets/NeueMontreal-Italic.otf);
}
@font-face {
  font-family: 'NM-M';
  src: url(../assets/NeueMontreal-Medium.otf);
}
@font-face {
  font-family: 'NM-R';
  src: url(../assets/NeueMontreal-Regular.otf);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 40px;
  font-size: x-small;
  width: 100%;
  font-family: 'NM-B', sans-serif;
}
header a{
  text-decoration: none;
  color: #0B0B0E;
}
footer {
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 4px;
  color: var(--accent);
}

input {
  border-radius: var(--radi);
  width: 100%;
  height: 40px;
  padding: 12px;
  border: 1px solid #ccc;
  font-size: 1rem;
  font-family: 'NM-R';
}

::selection {
  background: var(--accent); /* Change the background highlight color */
  color: var(--base);      /* Change the text color */
}

::selection {
  background-color: #DC794D;
  color: var(--base);
}

::-moz-selection{
  background-color: #DC794D;
  color: var(--base);
}
.back-nav-btn{
  color: var(--accent);
  text-decoration: none;
  font-family: 'NM-B' ;
}
.back-nav-btn:hover{
  text-decoration: underline;
}

.form-group input.touched:invalid,
.form-group input.error {
  border: 2px dashed #9a0c0c;
}

.form-group input.touched:placeholder-shown {
  border: 2px dashed #9a0c0c;
}

.error-message {
  color: #b81010;
  padding: 4px 0 0 12px;
  font-size: 0.85em;
  display: none;
}
